
<div class="account-pages pt-3 pt-sm-5 pb-3 pb-sm-5 bg-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-9 col-lg-9 col-9">
                <div class="row g-0 align-items-center">
                    <div class="col-6 col-xxl-6 col-lg-6 text-center">
                        <div>
                            <a>
                                <span><img style="width: 57%;height: 100%;"src="assets/images/uptime_logo.png" alt="" height="20"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-xxl-6 col-lg-6">
                        <div class="card">
                            <div class="card-body p-4" >
                        
                                <div class="text-center w-75 mb-4">
                                    <a [routerLink]="'login'"><h1 class="text-dark-50 text-left pb-0 fw-bold"><u>Login</u></h1></a>
                                </div>
                                
                                <div class="text-center w-75 mb-0">
                                    <a [routerLink]="'registration'"><h1 class="text-dark-50 text-left pb-0 fw-bold"><u>Registration</u></h1></a>
                                </div>
                            </div> <!-- end card-body -->
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
