<div class="bg-secondary">
    <div class="account-pages pt-3 pt-sm-5 pb-3 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-9 col-lg-9 col-9">
                    <div class="row g-0 align-items-center">
                        <div class="col-6 col-xxl-6 col-lg-6 text-center">
                            <div>
                                <a>
                                    <span><img style="width: 57%;height: 100%;"src="assets/images/uptime_logo.png" alt="" height="20"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-xxl-6 col-lg-6">
                            <div class="card">
                                <div class="card-body p-4" >
                            
                                    <div class="text-start mb-4">
                                        <h2 class="text-dark-50 text-left pb-0 fw-bold no-wrap">Get started with UPTIME</h2>
                                    </div>
            
                                    <form>
            
                                        <div class="mb-3">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="email">@</span>
                                                <input type="text" class="form-control" placeholder="EMAIL" aria-label="email" aria-describedby="email">
                                            </div>
                                        </div>
    
                                        <div class="mb-3">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="authKey">*</span>
                                                <input type="text" class="form-control" placeholder="Authorization Key" aria-label="Authorization Key" aria-describedby="authKey">
                                            </div>
                                        </div>

                                        <div class="mb-3 mb-0 ">
                                            <button class="btn btn-primary float-left" style="background-color: #000033;" type="submit">Send OTP </button>
                                            <a class="pt-1 float-right fw-bold" style="float: right;color: #000033;">Resend OTP</a>
                                        </div>

                                        <div class="mb-3">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="otp">@</span>
                                                <input type="text" class="form-control" placeholder="OTP" aria-label="OTP" aria-describedby="otp">
                                            </div>
                                        </div>
            
                                        <div class="mb-3 mb-0 ">
                                            <button class="btn btn-primary float-left" style="background-color: #000033;" type="submit"> Confirm </button>
                                        </div>
                                    </form>
                                </div> <!-- end card-body -->
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>